/* the div where tooltip will be included */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-top:250px;
  font-size:30px;
  font-weight:bold;
}
.tooltip:hover{
  color:grey;
}

